.place__img {
  grid-area: img;
  width: 460px;
  padding: 37px 40px 80px 0;
}

@media screen and (max-width: 1050px) {
  .place__img {
    width: 440px;
    padding: 37px 32px 80px 0;
  }
}
@media screen and (max-width: 790px) {
  .place__img {
    width: 340px;
    padding: 37px 28px 0 0;
  }
}

@media screen and (max-width: 650px) {
  .place__img {
    max-width: 320px;
    width:100%;
    padding: 30px 0 0 0;
    margin: auto;
  }
}
