@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

.page {
  background-color: #2a2c2f;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  padding: 28px 48px 0 48px;
  max-width: 100%;
  justify-content: space-between;
}

.header__logo {
  width: 176px;
  height: 52px;
  align-items: center;
}

.header__lang {
  display: flex;
  column-gap: 18px;
  padding: 14px 0 0 0;
  margin: 0;
  align-items: center;
}

.header__lang-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__lang-link {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  text-align: right;
  text-decoration: none;
}

.header__lang-link_active {
  text-decoration: underline;
}

.header__lang-link:hover {
  opacity: 80%;
}

@media screen and (max-width: 790px) {
  .header {
    padding: 28px 24px 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: 16px 16px 0 16px;
  }
  .header__logo {
    width: 142px;
    height: 42px;
  }

  .header__lang-link {
    font-size: 18px;
    line-height: 1.1;
  }
}

.lead {
  max-width: 984px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 48px 0 48px;
}

.lead__title {
  max-width: 720px;
  margin: 0;
  padding: 56px 0 0 0;
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
}

.lead__subtitle {
  max-width: 640px;
  margin: 0;
  padding: 32px 0 0 0;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

.lead__image {
  max-width: 100%;
  object-fit: scale-down;
  padding: 64px 0 0 0;
}

.lead__caption {
  margin: 0;
  padding: 8px 0 0 0;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  align-self: flex-start;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1050px) {
  .lead {
    max-width: 928px;
  }
  .lead__title {
    padding-top: 48px;
  }

  .lead__image {
    padding: 56px 0 0 0;
  }
}

@media screen and (max-width: 790px) {
  .lead {
    padding-left: 0;
    padding-right: 0;
  }
  .lead__caption {
    padding: 8px 24px 0 24px;
  }
}

@media screen and (max-width: 700px) {
  .lead__title {
    max-width: 500px;
    padding: 48px 0 0 0;
    font-size: 58px;
    line-height: 63px;
  }

  .lead__subtitle {
    max-width: 500px;
    padding: 16px 0 0 0;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    max-width: 288px;
    padding: 48px 0 0 0;
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    max-width: 288px;
    padding: 16px 0 0 0;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  .lead__image {
    padding: 40px 0 0 0;
  }

  .lead__caption {
    padding: 8px 15px 0 15px;
  }
}

.intro {
  max-width: 984px;
  margin: auto;
}

.intro__title {
  padding: 92px 0 0 0;
  margin: 0;
  max-width: 690px;
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  text-align: left;
}

.intro__text {
  padding: 40px 0 0 0;
  margin: 0;
  max-width: 690px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  text-align: left;
}

.intro__list {
  padding: 33px 0 0 0;
  margin: 0;
}

.intro__list-element {
  margin: 0;
  padding: 0;
  max-width: 690px;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

@media screen and (max-width: 1050px) {
  .intro {
    max-width: 928px;
    padding: 0 48px 0 48px;
  }
}

@media screen and (max-width: 790px) {
  .intro {
    max-width: 928px;
    padding: 0 24px 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding: 0 16px 0 16px;
  }

  .intro__title {
    padding: 64px 0 0 0;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }

  .intro__text {
    max-width: 288px;
  }
}

.footer {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  padding: 0 48px 24px 48px;
  margin: 0;
  align-items: center;
}

.footer__menu {
  display: flex;
  column-gap: 18px;
  padding: 0;
  margin: 0;
  align-items: center;
}

.footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__link {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.footer__copyright {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
}

@media screen and (max-width: 790px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 16px 24px 16px;
  }

  .footer__menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__links {
    padding-bottom: 32px;
  }

  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }

  .footer__copyright {
    padding-top: 16px;
    font-size: 14px;
    line-height: 14px;
  }
}
