.place {
  margin: 0;
  display: grid;
  grid-template-areas:
    "title website"
    "img paragraph";
}

@media screen and (max-width: 650px) {
  .place {
    margin: 0;
    display: grid;
    grid-template-areas:
      "title"
      "website"
      "img"
      "paragraph";
  }
}
